<h1>Ürün</h1>
<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @product.content %>
</p>

<p>
  <strong>Kategori:</strong>
  <%= @product.category.title %>
</p>

<p>
  <strong>Marka:</strong>
  <%= @product.brand.title %>
</p>
